        .container {
            background-color: white;
            margin-left: 100px;
			display: block;
        }

        .navigation-container {
            display: flex;
			padding-left: 1px;
        }

        .navigation-title {
            text-decoration: none;
            color: white;
            letter-spacing: 0.1em;
            font-size: 21px;
            font-family: "futura-pt";
			padding-left: 38px;
			padding-top: 8px;
            
        }

        .navigation-box {
            list-style: none;
            display: flex;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 20px;
			padding-top: 5px;
        }
        
        .navigation-item {
            font-size: 7.5px;
            font-weight: 200;
            font-family: "futura-pt";
            letter-spacing:.19em;
        }

        .navigation {
            height: 50px;
            padding-left: 10px;
            padding-top: 11px;
        }

        .navigation-icons {
            text-decoration: none;
            display: block;
        }

        .navigation .navigation-icons {
            color: white;
            padding-right: 4px;
            padding-top: 12px;
            padding-bottom: 5px;
			padding-left:7px;
        }

		.page1 {
			background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("http://csci571.com/hw/hw3/images/snow1.jpg");            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 850px 600px;
            color: white;
            width: 619px;
			background-position: -6px 10px;
		}

        .page1 .content-main {
            padding-left: 40px;
			padding-bottom: 140px;
            text-align: center;
        }

        .page1 .content-title {
			padding-top: 88px;
			padding-left: 89px;
			padding-right: 140px;
            font-size: 58px;
            font-weight: 600;
            padding-bottom: 40px;
            font-family: "futura-pt";
			line-height: 59px;          
        }

        .page1 .content-text1 {
            font-size: 11.6px;
            word-spacing: 0.1rem;
            padding-bottom: 20px;
            font-family: "proxima-nova";
            font-weight:500;
			padding-left: 108px;
			padding-right: 150px;
			line-height: 19px;
        }
		
		
        .learnmore {
			display: inline-block;
			position:absolute;
			left:379px;
            text-align: center;
            border: 1px solid transparent;
            padding: 6px 6px;
            line-height: 2;
            text-decoration: none;
            text-transform: uppercase;
            background-color: white;
        }

        .learnmore-txt {
            margin-left: 10px;
            margin-right: 10px;
            color: black;
            font-size: 8px;
            font-family: "futura-pt";
            letter-spacing:.1em;
        }

        .page2 {
            background-color: white;
			width: 619px;
        }

        .page2 .images-align {
            display: flex;
            flex-wrap: wrap;
			padding-left: 26px;
            padding-top: 50px;
	        padding-bottom: 25px;
        }

        .page2 .row {
            max-width: 100%;
            padding: 7px;
        }

        .page2 .row img {
            vertical-align: middle;
            width: 265px;
            height: 265px;
            padding-right: 14px;
        }

        .page2 .content-text2 {
            text-align: left;
            padding-left: 173px;
            padding-right: 125px;
            font-size: 8.7px;
            font-family: "proxima-nova";
            padding-bottom: 75px;
            font-weight:500;
            color:#595959;
			line-height: 16px;
			
        }

        .page3 {
            background-image: url("http://csci571.com/hw/hw3/images/snow6.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 1000px 600px;
            color: white;
            width: 619px;
			height:510px;
			background-position: -80px 20px;
        }

        .page3 .content-text3 {
           	padding-left: 130px;
			padding-right: 150px;
			font-size: 12px;
			padding-top: 205px;
			padding-bottom: 250px;
			color: white;
			font-family: "proxima-nova";
			text-align: center;
			line-height: 20px;
            font-weight:500;
    }
		
		.page4 {
			padding-top:70px;
		}